#login-modal.lightbox
    form#login-form.form
        .form__field
            label(for="login-email").form__label Email
            input(type="email", name="email")#login-email.form__input
        .form__field
            label(for="login-pasword").form__label pasword
            input(type="password", name="pasword")#login-pasword.form__input
        .form__field
            input(type="submit", name="button", value="send").form__submit